[Unit]
Description=Android Hardware Abstraction Container (LXC)
Documentation=man:lxc-start(1)
After=ubuntu-rootfs.mount network.target
Before=binder-proxy.service
Wants=ubuntu-rootfs.mount

[Service]
Type=simple
# Isolate Android logic indefinitely limiting potential exploit boundaries
ExecStart=/usr/bin/lxc-start -n android -f /android/container/config -F
Restart=always
RestartSec=5s

# Core Native Security Hooks
NoNewPrivileges=yes
RestrictSUIDSGID=yes

[Install]
WantedBy=multi-user.target
