# =============================================================================
# ubuntu-universal.rc
# =============================================================================
# Minimal Android init mapping for the Universal Ubuntu Touch Treble GSI.
# It simply hooks BinderFS, mounts overlay and hands off execution to systemd.

import /system/etc/init/ubuntu-universal.rc

on early-init
    # Initialize basic BinderFS proxy
    mkdir /dev/binderfs 0755 root root
    mount binder binder /dev/binderfs stats=global
    symlink /dev/binderfs/binder /dev/binder
    chmod 0666 /dev/binder

on init
    # Configure base dynamic partition mappings natively
    mkdir /overlay 0755 root root
    mount overlay overlay /overlay
    
    # Establish base layout
    mkdir /ubuntu 0755 root root
    mkdir /ubuntu/rootfs 0755 root root
    mkdir /ubuntu/writable 0755 root root
    mkdir /android/container 0755 root root
    
    # Hand off to natively compiled systemd
    start systemd-boot

on late-init
    trigger post-fs
    trigger post-fs-data

on post-fs
    mount none /system /system remount ro

on post-fs-data
    # Bind Vendor from device
    mount none /vendor /android/container/vendor bind

service systemd-boot /sbin/init
    class core
    user root
    group root
    critical
    seclabel u:r:init:s0
