[Unit]
Description=Mount Ubuntu Writable RootFS Overlay
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target

[Mount]
What=overlay
Where=/ubuntu
Type=overlay
Options=lowerdir=/system/ubuntu/rootfs,upperdir=/ubuntu/writable,workdir=/ubuntu/workdir

[Install]
WantedBy=sysinit.target
